html{
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}
/* Input = Barra donde se ingresa el Mensaje */
#texto{
  text-align: center;
}
/* Salida de los mensajes*/
#mensajes{
  text-align: left;
  display: inline-block;
}
/* Titulo del Documento Chat Modificado*/ 
h1{
  text-align: center;
}
#Avatar{
  height: 50px;
  border-radius: 50px;
}
.container{
  display: inline-block;
  margin: 0 auto;
}
figure{
  width: 50px;
}
.msg{
  display: inline-block;
  padding-left: 10px;
  text-align: center;
}
.date{
  color: gray;
}