html{
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}
/* Input = Barra donde se ingresa el Mensaje */
#texto{
  text-align: center;
}
/* Titulo del Documento Caht Modificado*/ 
h1{
  text-align: center;
}
/* Boton de Enviar Mensaje */
button{
  text-align: left;
}
body{
  display: inline-block;
  text-align: left;
}
#Avatar{
  height: 50px;
  border-radius: 50px;
}
.container{
  display: inline-block;
  margin: 0 auto;
}
figure{
  width: 50px;
}
.msg{
  display: inline-block;
  padding-left: 10px;
}
.date{
  color: gray;
}